/* パソコン用画面 */

@media (min-width: 700px) {

body {
  background-color: rgb(214, 241, 241);
}

.container h1 {
 text-align: center;
}

.container img {
  display: block;
  margin: 0 auto;
}

.explan {
  margin: 20px 300px;
  font-size: 30px;
}

.access h5 {
  text-align: center;
  font-size: 18px;
}

.access p {
  text-align: center;
  font-size: 18px;
}

iframe {
  display: block;
  margin: 10px 500px;
}

.back h4 {
margin: 0;
padding: 10px;
font-size: 20px;
}

.name {
  padding: 50px;
  text-align: center;
  border-top: 1px solid grey;
}

}

/* スマートフォン用画面 */

@media (max-width: 699px) {

* {
  margin: 0;
}

body {
  background-color: rgb(214, 241, 241);
}

.back h4 {
margin: 0;
padding: 10px;
font-size: 20px;
}

.container h1 {
 text-align: center;
 font-size: 30px;
 margin-bottom: 20px;
}

.container img {
  display: block;
  margin: 27px;
  width: 90%;
  height: 300px;
}

.explan {
  margin: 20px 30px;
  font-size: 20px;
}

.access h5 {
  text-align: center;
  font-size: 18px;
}

.access p {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

iframe {
  display: block;
  margin: 10px 10px;
}

.name {
  padding: 50px;
  text-align: center;
  border-top: 1px solid grey;
}

}
